@import url('./tokens/colors.css');
@import url('./font.css');
@import 'tailwindcss';

@theme inline {
  /* SPACING */
  --spacing: 0.25rem; /* 4px */

  /* SPACING SCREEN SIZE */
  --spacing-screen-xs: 240px;
  --spacing-screen-sm: 480px;
  --spacing-screen-md: 768px;
  --spacing-screen-lg: 992px;
  --spacing-screen-xl: 1280px;
  --spacing-screen-2xl: 1536px;
  --spacing-screen-3xl: 1920px;
  --spacing-screen-full-3xl: 100%;

  /* CONTAINER */
  --container-3xs: 16rem; /* 256px */
  --container-2xs: 18rem; /* 288px */
  --container-xs: 20rem; /* 320px */
  --container-sm: 24rem; /* 384px */
  --container-md: 28rem; /* 448px */
  --container-lg: 32rem; /* 512px */
  --container-xl: 36rem; /* 576px */
  --container-2xl: 42rem; /* 672px */
  --container-3xl: 48rem; /* 768px */
  --container-4xl: 56rem; /* 896px */
  --container-5xl: 64rem; /* 1024px */
  --container-6xl: 72rem; /* 1152px */
  --container-7xl: 80rem; /* 1280px */

  /* BREAKPOINTS */
  --breakpoint-*: initial;
  --breakpoint-xs: 0px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  /* RADIUS */
  --radius-*: initial;
  --radius-none: 0;
  --radius-3xs: 0.125rem; /* 2px */
  --radius-2xs: 0.25rem; /* 4px */
  --radius-xs: 0.5rem; /* 8px */
  --radius-sm: 0.75rem; /* 12px */
  --radius-md: 1rem; /* 16px */
  --radius-lg: 1.25rem; /* 20px */
  --radius-xl: 1.5rem; /* 24px */
  --radius-2xl: 2rem; /* 32px */
  --radius-3xl: 2.5rem; /* 40px */
  --radius-4xl: 3rem; /* 48px */
  --radius-5xl: 4rem; /* 64px */
  --radius-6xl: 5rem; /* 80px */
  --radius-7xl: 6rem; /* 96px */
  --radius-8xl: 7rem; /* 112px */
  --radius-full: 9999px;

  /* TEXT SIZE */
  --text-5xs: 0.125rem; /* 2px */
  --text-5xs--line-height: 0.25rem; /* 4px */
  --text-4xs: 0.25rem; /* 4px */
  --text-4xs--line-height: 0.375rem; /* 6px */
  --text-3xs: 0.5rem; /* 8px */
  --text-3xs--line-height: 0.75rem; /* 12px */
  --text-2xs: 0.625rem; /* 10px */
  --text-2xs--line-height: 0.875rem; /* 14px */
  --text-xs: 0.75rem; /* 12px */
  --text-xs--line-height: 1rem; /* 16px */
  --text-sm: 0.875rem; /* 14px */
  --text-sm--line-height: 1.25rem; /* 20px */
  --text-base: 1rem; /* 16px */
  --text-base--line-height: 1.5rem; /* 24px */
  --text-lg: 1.125rem; /* 18px */
  --text-lg--line-height: 1.25; /* 1.25em, fits tightly */
  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: 1; /* 1em, fits tightly */
  --text-2xl: 1.5rem; /* 24px */
  --text-2xl--line-height: 1; /* 1em, fits tightly */
  --text-3xl: 1.875rem; /* 30px */
  --text-3xl--line-height: 1; /* 1em, fits tightly */
  --text-4xl: 2.25rem; /* 36px */
  --text-4xl--line-height: 1; /* 1em, fits tightly */
  --text-5xl: 3rem; /* 48px */
  --text-5xl--line-height: 1; /* 1em, fits tightly */
  --text-6xl: 3.75rem; /* 60px */
  --text-6xl--line-height: 1; /* 1em, fits tightly */
  --text-7xl: 4.5rem; /* 72px */
  --text-7xl--line-height: 1; /* 1em, fits tightly */
  --text-8xl: 5rem; /* 80px */
  --text-8xl--line-height: 1; /* 1em, fits tightly */
  --text-9xl: 6rem; /* 96px */
  --text-9xl--line-height: 1; /* 1em, fits tightly */
  --text-10xl: 8rem; /* 128px */
  --text-10xl--line-height: 1; /* 1em, fits tightly */
  --text-11xl: 9rem; /* 144px */
  --text-11xl--line-height: 1; /* 1em, fits tightly */
  --text-12xl: 10rem; /* 160px */
  --text-12xl--line-height: 1; /* 1em, fits tightly */
  --text-13xl: 12rem; /* 192px */
  --text-13xl--line-height: 1; /* 1em, fits tightly */
  --text-14xl: 14rem; /* 224px */
  --text-14xl--line-height: 1; /* 1em, fits tightly */
  --text-15xl: 16rem; /* 256px */
  --text-15xl--line-height: 1; /* 1em, fits tightly */
  --text-16xl: 18rem; /* 288px */
  --text-16xl--line-height: 1; /* 1em, fits tightly */
  --text-17xl: 20rem; /* 320px */
  --text-17xl--line-height: 1; /* 1em, fits tightly */
  --text-18xl: 24rem; /* 384px */
  --text-18xl--line-height: 1; /* 1em, fits tightly */
  --text-19xl: 28rem; /* 448px */
  --text-19xl--line-height: 1; /* 1em, fits tightly */
  --text-20xl: 32rem; /* 512px */
  --text-20xl--line-height: 1; /* 1em, fits tightly */

  /* COLORS */
  /* Primary */
  --color-primary-darkest: var(--color-gray-950);
  --color-primary-darker: var(--color-gray-900);
  --color-primary-dark: var(--color-gray-800);
  --color-primary: var(--color-gray-500);
  --color-primary-light: var(--color-gray-400);
  --color-primary-lighter: var(--color-gray-200);
  --color-primary-lightest: var(--color-gray-100);

  /* Secondary */
  --color-secondary-darkest: var(--color-sky-900);
  --color-secondary-darker: var(--color-sky-800);
  --color-secondary-dark: var(--color-sky-700);
  --color-secondary: var(--color-sky-500);
  --color-secondary-light: var(--color-sky-300);
  --color-secondary-lighter: var(--color-sky-100);
  --color-secondary-lightest: var(--color-sky-50);

  /* Warning */
  --color-warning-darkest: var(--color-yellow-900);
  --color-warning-darker: var(--color-yellow-800);
  --color-warning-dark: var(--color-yellow-700);
  --color-warning: var(--color-yellow-500);
  --color-warning-light: var(--color-yellow-300);
  --color-warning-lighter: var(--color-yellow-200);
  --color-warning-lightest: var(--color-yellow-100);

  /* Success */
  --color-success-darkest: var(--color-leaf-900);
  --color-success-darker: var(--color-leaf-800);
  --color-success-dark: var(--color-leaf-700);
  --color-success: var(--color-leaf-500);
  --color-success-light: var(--color-leaf-300);
  --color-success-lighter: var(--color-leaf-200);
  --color-success-lightest: var(--color-leaf-100);

  /* Error */
  --color-error-darkest: var(--color-ruby-900);
  --color-error-darker: var(--color-ruby-800);
  --color-error-dark: var(--color-ruby-700);
  --color-error: var(--color-ruby-500);
  --color-error-light: var(--color-ruby-300);
  --color-error-lighter: var(--color-ruby-200);
  --color-error-lightest: var(--color-ruby-100);

  /* Background */
  --color-background-darkest: var(--color-background-darkest);
  --color-background-darker: var(--color-background-darker);
  --color-background-dark: var(--color-background-dark);
  --color-background: var(--color-background-base);
  --color-background-light: var(--color-background-light);
  --color-background-lighter: var(--color-background-lighter);
  --color-background-lightest: var(--color-background-lightest);

  /* Contrast */
  --color-contrast-highest: var(--color-contrast-highest);
  --color-contrast-higher: var(--color-contrast-higher);
  --color-contrast-high: var(--color-contrast-high);
  --color-contrast-medium: var(--color-contrast-medium);
  --color-contrast-low: var(--color-contrast-low);
  --color-contrast-lower: var(--color-contrast-lower);
  --color-contrast-lowest: var(--color-contrast-lowest);

  /* Invert */
  --color-invert-highest: var(--color-invert-highest);
  --color-invert-higher: var(--color-invert-higher);
  --color-invert-high: var(--color-invert-high);
  --color-invert-medium: var(--color-invert-medium);
  --color-invert-low: var(--color-invert-low);
  --color-invert-lower: var(--color-invert-lower);
  --color-invert-lowest: var(--color-invert-lowest);

  /* Animation variables */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    /* border: solid red 2px; */
  }

  html,
  body {
    background-color: var(--color-anti-flash-white-500);
    height: 100%;
    width: 100%;
    padding: 0;
  }

  canvas {
    display: block;
  }

  /* *,
  *::after,
  *::before {
    border: solid red 1px;
  } */

  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  html,
  body,
  ul,
  ol {
    padding: 0;
    margin: 0;
  }

  main {
    background-color: var(--color-anti-flash-white-500);
    height: fit-content;
    min-height: 100svh;
  }

  html {
    box-sizing: border-box;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0.4rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-background-base);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-raven-300);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-raven-400);
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-hidden {
    scrollbar-width: none;
  }

  /* Marquee CSS props */
  .marquee {
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    width: 100%;
  }

  .marquee:hover .marquee-inner {
    animation-play-state: var(--marquee-pause-on-hover, paused);
  }

  .marquee:active .marquee-inner {
    animation-play-state: var(--marquee-pause-on-click, paused);
  }

  .marquee-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .marquee-overlay::before,
  .marquee-overlay::after {
    background: linear-gradient(
      to right,
      var(--marquee-gradient-color, white),
      transparent
    );
    content: '';
    height: 100%;
    position: absolute;
    width: var(--marquee-gradient-width, 50px);
    z-index: 2;
  }

  .marquee-overlay::before {
    left: 0;
    top: 0;
  }

  .marquee-overlay::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .marquee-inner {
    flex: 0 0 auto;
    min-width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: scroll var(--marquee-duration, 15s) linear
      var(--marquee-delay, 0s) var(--marquee-iteration-count, infinite);
    animation-play-state: var(--marquee-play, running);
    animation-delay: var(--marquee-delay, 0s);
    animation-direction: var(--marquee-direction, normal);
  }

  .marquee-inner > * {
    will-change: transform;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@layer components {
}

@layer utilities {
}

/* @font-face {
  font-family: 'Helvetica Now Display CnBd';
  src: url('HelveticaNowDisplay-CnBd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
