@import url('./tokens/colors.css');
@import url('./font.css');
@import 'tailwindcss';

@theme inline {
  /* SPACING */
  --spacing: 0.25rem; /* 4px */

  /* SPACING SCREEN SIZE */
  --spacing-screen-xs: 240px;
  --spacing-screen-sm: 480px;
  --spacing-screen-md: 768px;
  --spacing-screen-lg: 992px;
  --spacing-screen-xl: 1280px;
  --spacing-screen-2xl: 1536px;
  --spacing-screen-3xl: 1920px;
  --spacing-screen-full-3xl: 100%;

  /* CONTAINER */
  --container-3xs: 16rem; /* 256px */
  --container-2xs: 18rem; /* 288px */
  --container-xs: 20rem; /* 320px */
  --container-sm: 24rem; /* 384px */
  --container-md: 28rem; /* 448px */
  --container-lg: 32rem; /* 512px */
  --container-xl: 36rem; /* 576px */
  --container-2xl: 42rem; /* 672px */
  --container-3xl: 48rem; /* 768px */
  --container-4xl: 56rem; /* 896px */
  --container-5xl: 64rem; /* 1024px */
  --container-6xl: 72rem; /* 1152px */
  --container-7xl: 80rem; /* 1280px */

  /* BREAKPOINTS */
  --breakpoint-*: initial;
  --breakpoint-xs: 0px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  /* RADIUS */
  --radius-*: initial;
  --radius-none: 0;
  --radius-3xs: 0.125rem; /* 2px */
  --radius-2xs: 0.25rem; /* 4px */
  --radius-xs: 0.5rem; /* 8px */
  --radius-sm: 0.75rem; /* 12px */
  --radius-md: 1rem; /* 16px */
  --radius-lg: 1.25rem; /* 20px */
  --radius-xl: 1.5rem; /* 24px */
  --radius-2xl: 2rem; /* 32px */
  --radius-3xl: 2.5rem; /* 40px */
  --radius-4xl: 3rem; /* 48px */
  --radius-5xl: 4rem; /* 64px */
  --radius-6xl: 5rem; /* 80px */
  --radius-7xl: 6rem; /* 96px */
  --radius-8xl: 7rem; /* 112px */
  --radius-full: 9999px;

  /* COLORS */
  /* Primary */
  --color-primary-darkest: var(--color-orange-950);
  --color-primary-darker: var(--color-orange-900);
  --color-primary-dark: var(--color-orange-800);
  --color-primary: var(--color-orange-500);
  --color-primary-light: var(--color-orange-400);
  --color-primary-lighter: var(--color-orange-200);
  --color-primary-lightest: var(--color-orange-100);

  /* Secondary */
  --color-secondary-darkest: var(--color-sky-900);
  --color-secondary-darker: var(--color-sky-800);
  --color-secondary-dark: var(--color-sky-700);
  --color-secondary: var(--color-sky-500);
  --color-secondary-light: var(--color-sky-300);
  --color-secondary-lighter: var(--color-sky-100);
  --color-secondary-lightest: var(--color-sky-50);

  /* Warning */
  --color-warning-darkest: var(--color-yellow-900);
  --color-warning-darker: var(--color-yellow-800);
  --color-warning-dark: var(--color-yellow-700);
  --color-warning: var(--color-yellow-500);
  --color-warning-light: var(--color-yellow-300);
  --color-warning-lighter: var(--color-yellow-200);
  --color-warning-lightest: var(--color-yellow-100);

  /* Success */
  --color-success-darkest: var(--color-leaf-900);
  --color-success-darker: var(--color-leaf-800);
  --color-success-dark: var(--color-leaf-700);
  --color-success: var(--color-leaf-500);
  --color-success-light: var(--color-leaf-300);
  --color-success-lighter: var(--color-leaf-200);
  --color-success-lightest: var(--color-leaf-100);

  /* Error */
  --color-error-darkest: var(--color-ruby-900);
  --color-error-darker: var(--color-ruby-800);
  --color-error-dark: var(--color-ruby-700);
  --color-error: var(--color-ruby-500);
  --color-error-light: var(--color-ruby-300);
  --color-error-lighter: var(--color-ruby-200);
  --color-error-lightest: var(--color-ruby-100);

  /* Background */
  --color-background-darkest: var(--color-background-darkest);
  --color-background-darker: var(--color-background-darker);
  --color-background-dark: var(--color-background-dark);
  --color-background: var(--color-background-base);
  --color-background-light: var(--color-background-light);
  --color-background-lighter: var(--color-background-lighter);
  --color-background-lightest: var(--color-background-lightest);

  /* Contrast */
  --color-contrast-highest: var(--color-contrast-highest);
  --color-contrast-higher: var(--color-contrast-higher);
  --color-contrast-high: var(--color-contrast-high);
  --color-contrast-medium: var(--color-contrast-medium);
  --color-contrast-low: var(--color-contrast-low);
  --color-contrast-lower: var(--color-contrast-lower);
  --color-contrast-lowest: var(--color-contrast-lowest);

  /* Invert */
  --color-invert-highest: var(--color-invert-highest);
  --color-invert-higher: var(--color-invert-higher);
  --color-invert-high: var(--color-invert-high);
  --color-invert-medium: var(--color-invert-medium);
  --color-invert-low: var(--color-invert-low);
  --color-invert-lower: var(--color-invert-lower);
  --color-invert-lowest: var(--color-invert-lowest);

  /* Animation variables */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    /* border: solid red 2px; */
  }

  html,
  body {
    background-color: var(--color-anti-flash-white-500);
    height: 100%;
    width: 100%;
  }

  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  html,
  body,
  ul,
  ol {
    padding: 0;
    margin: 0;
  }

  main {
    background-color: var(--color-anti-flash-white-500);
    height: fit-content;
    min-height: 100svh;
  }

  html {
    box-sizing: border-box;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0.4rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-background-base);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-raven-300);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-raven-400);
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .scrollbar-hidden {
    scrollbar-width: none;
  }
}

@layer components {
}

@layer utilities {
}

/* @font-face {
  font-family: 'Helvetica Now Display CnBd';
  src: url('HelveticaNowDisplay-CnBd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
