/* 1. Global-Colors */
:root {
  /* Mode 1 */
  /* color */
  --amber-100: #fff4c6;
  --amber-200: #ffe888;
  --amber-300: #ffd64a;
  --amber-400: #ffc220;
  --amber-50: #fffbeb;
  --amber-500: #f9a006;
  --amber-600: #dd7802;
  --amber-700: #b75406;
  --amber-800: #94400c;
  --amber-900: #7a360d;
  --amber-950: #461a02;
  --anti-flash-white-300: #fcfdfe;
  --anti-flash-white-500: #f7f9fa;
  --anti-flash-white-900: #eef2f5;
  --azure-100: #dceafd;
  --azure-200: #c1dbfc;
  --azure-300: #96c5fa;
  --azure-400: #65a6f5;
  --azure-50: #f0f6fe;
  --azure-500: #347bef;
  --azure-600: #2b65e5;
  --azure-700: #2351d2;
  --azure-800: #2342aa;
  --azure-900: #213c87;
  --azure-950: #192652;
  --black-alpha-100: #0000000f;
  --black-alpha-200: #0000001c;
  --black-alpha-300: #0000002b;
  --black-alpha-400: #0000005e;
  --black-alpha-50: #00000005;
  --black-alpha-500: #0000008c;
  --black-alpha-600: #000000ad;
  --black-alpha-700: #000000d1;
  --black-alpha-800: #000000e0;
  --black-alpha-900: #000000e8;
  --black-alpha-950: #000000ed;
  --blue-100: #dbe8fe;
  --blue-200: #bfd7fe;
  --blue-300: #93bbfd;
  --blue-400: #609afa;
  --blue-50: #eff5ff;
  --blue-500: #3b82f6;
  --blue-600: #2570eb;
  --blue-700: #1d64d8;
  --blue-800: #1e55af;
  --blue-900: #1e478a;
  --blue-950: #172e54;
  --crimson-100: #fce7f1;
  --crimson-200: #fbcfe5;
  --crimson-300: #f9a8d0;
  --crimson-400: #f472b2;
  --crimson-50: #fdf2f7;
  --crimson-500: #ec4899;
  --crimson-600: #db2780;
  --crimson-700: #be186a;
  --crimson-800: #9d1759;
  --crimson-900: #83184d;
  --crimson-950: #50072b;
  --cyan-100: #cff7fe;
  --cyan-200: #a5effc;
  --cyan-300: #67e4f9;
  --cyan-400: #22d0ee;
  --cyan-50: #ecfcff;
  --cyan-500: #06b6d4;
  --cyan-600: #0899b2;
  --cyan-700: #0e7d90;
  --cyan-800: #156775;
  --cyan-900: #165863;
  --cyan-950: #083b44;
  --emerald-100: #d1faec;
  --emerald-200: #a7f3da;
  --emerald-300: #6ee7bf;
  --emerald-400: #34d39e;
  --emerald-50: #ecfdf7;
  --emerald-500: #10b981;
  --emerald-600: #059666;
  --emerald-700: #047852;
  --emerald-800: #065f42;
  --emerald-900: #064e36;
  --emerald-950: #022c1e;
  --flamingo-100: #ffe6d5;
  --flamingo-200: #fecaaa;
  --flamingo-300: #fda574;
  --flamingo-400: #fb743c;
  --flamingo-50: #fff4ed;
  --flamingo-500: #f95a24;
  --flamingo-600: #ea350c;
  --flamingo-700: #c2250c;
  --flamingo-800: #9a1f12;
  --flamingo-900: #7c1c12;
  --flamingo-950: #430b07;
  --fuchsia-100: #fce8ff;
  --fuchsia-200: #f8d0fe;
  --fuchsia-300: #f1abfc;
  --fuchsia-400: #e879f9;
  --fuchsia-50: #fef4ff;
  --fuchsia-500: #d946ef;
  --fuchsia-600: #bc26d3;
  --fuchsia-700: #9c1caf;
  --fuchsia-800: #80198f;
  --fuchsia-900: #691a75;
  --fuchsia-950: #44044e;
  --fuego-100: #f6febe;
  --fuego-200: #eefd91;
  --fuego-300: #def655;
  --fuego-400: #caec22;
  --fuego-50: #fbffdb;
  --fuego-500: #bae010;
  --fuego-600: #8bab07;
  --fuego-700: #667f0b;
  --fuego-800: #52660f;
  --fuego-900: #445412;
  --fuego-950: #243003;
  --gray-100: #f2f2f2;
  --gray-200: #e5e5e5;
  --gray-300: #d1d1d1;
  --gray-400: #a3a3a3;
  --gray-50: #f7f7f7;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #2e2e2e;
  --gray-800: #1f1f1f;
  --gray-900: #1a1a1a;
  --gray-950: #121212;
  --green-100: #dff9e8;
  --green-200: #c1f1d3;
  --green-300: #91e4b0;
  --green-400: #5ace86;
  --green-50: #f1fcf5;
  --green-500: #34b766;
  --green-600: #259450;
  --green-700: #207541;
  --green-800: #1e5d37;
  --green-900: #1b4c2f;
  --green-950: #092a17;
  --indigo-100: #e0e1ff;
  --indigo-200: #c7c8fe;
  --indigo-300: #a5a7fc;
  --indigo-400: #8184f8;
  --indigo-50: #eeeeff;
  --indigo-500: #6366f1;
  --indigo-600: #4649e5;
  --indigo-700: #383bca;
  --indigo-800: #3032a3;
  --indigo-900: #2e3081;
  --indigo-950: #1b1c4b;
  --leaf-100: #e2f7e1;
  --leaf-200: #c7edc5;
  --leaf-300: #9bdd98;
  --leaf-400: #66c563;
  --leaf-50: #f3fbf2;
  --leaf-500: #45b441;
  --leaf-600: #318b2e;
  --leaf-700: #296e27;
  --leaf-800: #245823;
  --leaf-900: #20481f;
  --leaf-950: #0c270c;
  --lime-100: #e9fccb;
  --lime-200: #d5f99d;
  --lime-300: #baf264;
  --lime-400: #a0e635;
  --lime-50: #f5fee7;
  --lime-500: #84cc16;
  --lime-600: #68a30d;
  --lime-700: #517c0f;
  --lime-800: #426212;
  --lime-900: #3a5314;
  --lime-950: #1e2e05;
  --orange-100: #fff0d5;
  --orange-200: #feddaa;
  --orange-300: #fdc474;
  --orange-400: #fba03c;
  --orange-50: #fff8ed;
  --orange-500: #f98315;
  --orange-600: #ea680c;
  --orange-700: #c24e0c;
  --orange-800: #9a3e12;
  --orange-900: #7c3512;
  --orange-950: #431807;
  --pink-100: #fde6f6;
  --pink-200: #fcceee;
  --pink-300: #fba6e0;
  --pink-400: #f86ec9;
  --pink-50: #fdf2f9;
  --pink-500: #f250b6;
  --pink-600: #e12190;
  --pink-700: #c31374;
  --pink-800: #a1135f;
  --pink-900: #861551;
  --pink-950: #52052e;
  --pumpkin-100: #ffe6d5;
  --pumpkin-200: #feccaa;
  --pumpkin-300: #fdac74;
  --pumpkin-400: #fb8a3c;
  --pumpkin-50: #fff4ed;
  --pumpkin-500: #f97316;
  --pumpkin-600: #ea670c;
  --pumpkin-700: #c2570c;
  --pumpkin-800: #9a4a12;
  --pumpkin-900: #7c3d12;
  --pumpkin-950: #432007;
  --purple-100: #f4e8ff;
  --purple-200: #ebd5ff;
  --purple-300: #dab4fe;
  --purple-400: #c184fc;
  --purple-50: #faf5ff;
  --purple-500: #a855f7;
  --purple-600: #9133ea;
  --purple-700: #7a22ce;
  --purple-800: #6621a8;
  --purple-900: #531c87;
  --purple-950: #370764;
  --raven-100: #eeeef0;
  --raven-200: #d8dadf;
  --raven-300: #b6bac3;
  --raven-400: #8e94a2;
  --raven-50: #f7f8f8;
  --raven-500: #727888;
  --raven-600: #5b606e;
  --raven-700: #4a4d5a;
  --raven-800: #40434c;
  --raven-900: #383a42;
  --raven-950: #25262c;
  --red-100: #ffe1e1;
  --red-200: #ffc8c8;
  --red-300: #ffa1a1;
  --red-400: #fe6b6b;
  --red-50: #fff1f1;
  --red-500: #f63737;
  --red-600: #e41e1e;
  --red-700: #c01515;
  --red-800: #9e1616;
  --red-900: #831919;
  --red-950: #480707;
  --rose-100: #ffe4e9;
  --rose-200: #fecdd5;
  --rose-300: #fda4b3;
  --rose-400: #fb7189;
  --rose-50: #fff1f3;
  --rose-500: #f43f5e;
  --rose-600: #e11d3f;
  --rose-700: #be122f;
  --rose-800: #9f122a;
  --rose-900: #881327;
  --rose-950: #4c0511;
  --ruby-100: #ffe1e4;
  --ruby-200: #ffc8cd;
  --ruby-300: #ffa1aa;
  --ruby-400: #fe6b7a;
  --ruby-50: #fff1f2;
  --ruby-500: #f6374a;
  --ruby-600: #e41e32;
  --ruby-700: #c01526;
  --ruby-800: #9e1624;
  --ruby-900: #831924;
  --ruby-950: #48070d;
  --sky-100: #e0f5fe;
  --sky-200: #bae8fd;
  --sky-300: #7dd5fc;
  --sky-400: #38bcf8;
  --sky-50: #f0faff;
  --sky-500: #0ea5e9;
  --sky-600: #028ac7;
  --sky-700: #0370a1;
  --sky-800: #075e85;
  --sky-900: #0c506e;
  --sky-950: #083549;
  --teal-100: #ccfbf6;
  --teal-200: #99f6ec;
  --teal-300: #5eeadb;
  --teal-400: #2dd4c2;
  --teal-50: #f0fdfc;
  --teal-500: #14b8a6;
  --teal-600: #0d9485;
  --teal-700: #0f766b;
  --teal-800: #115e56;
  --teal-900: #134e48;
  --teal-950: #042f2a;
  --tomato-100: #ffe6e1;
  --tomato-200: #ffd1c8;
  --tomato-300: #ffb1a1;
  --tomato-400: #fe846b;
  --tomato-50: #fff3f1;
  --tomato-500: #f65737;
  --tomato-600: #e43f1e;
  --tomato-700: #c03215;
  --tomato-800: #9e2d16;
  --tomato-900: #832b19;
  --tomato-950: #481207;
  --viettel-100: #ffdde4;
  --viettel-200: #ffc0cd;
  --viettel-300: #ff94a9;
  --viettel-400: #ff5779;
  --viettel-50: #fff0f3;
  --viettel-500: #fa0f3e;
  --viettel-600: #ed0231;
  --viettel-700: #d7002b;
  --viettel-800: #b10326;
  --viettel-900: #920a25;
  --viettel-950: #500010;
  --violet-100: #efe9fe;
  --violet-200: #e2d6fe;
  --violet-300: #cbb5fd;
  --violet-400: #ad8bfa;
  --violet-50: #f7f3ff;
  --violet-500: #8b5cf6;
  --violet-600: #713aed;
  --violet-700: #5e28d9;
  --violet-800: #4e21b6;
  --violet-900: #421d95;
  --violet-950: #2a1065;
  --white-alpha-100: #ffffff0f;
  --white-alpha-200: #ffffff1c;
  --white-alpha-300: #ffffff2b;
  --white-alpha-400: #ffffff5e;
  --white-alpha-50: #ffffff05;
  --white-alpha-500: #ffffff8c;
  --white-alpha-600: #ffffffad;
  --white-alpha-700: #ffffffd1;
  --white-alpha-800: #ffffffe0;
  --white-alpha-900: #ffffffe8;
  --white-alpha-950: #ffffffed;
  --yellow-100: #fdf7c4;
  --yellow-200: #fdf28b;
  --yellow-300: #fbea4b;
  --yellow-400: #f8de16;
  --yellow-50: #fefbe7;
  --yellow-500: #f4d80b;
  --yellow-600: #c6a606;
  --yellow-700: #9f7f09;
  --yellow-800: #85680f;
  --yellow-900: #715713;
  --yellow-950: #413007;
}
